# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor und IDE Konfigurationen
/.idea/
/.vscode/
/*.suo
/*.user
/*.userosscache
/*.sln
*.swp
*.swo

# System Dateien
Thumbs.db
Desktop.ini

# Log-Dateien
*.log

# Paketmanager
*.lock

# Temporäre Dateien
*.tmp
*.temp

# Kompilierte Dateien
*.class
*.o
*.a
*.so

# Build-Artefakte
/dist
/lib
*.out

# Jest
/jest-*.json

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# .env files
.env